{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<style>
		.cards {
			display: flex;
			flex-wrap: wrap;
		}

		.card {
			width: fit-content;
			padding: 16px;
			background-color: #FFF;
			box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.13), 0 2px 4px -1px rgba(0, 0, 0, 0.09);
		}

		.card__inner {
			display: flex;
			align-items: flex-start;
			justify-content: space-evenly;
			gap: 32px;
		}

        .card__content {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .card p {
            margin: 0
        }

		.board {
			border-collapse: collapse;
		}

		.board__row {
			display: flex;
		}

		.board__cell {
			width: 10px;
			height: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid #000;
		}

		.board__cell--yellow {
			background-color: yellow
		}

		.board__cell--red {
			background-color: red
		}
	</style>

	<h1>Parties enregistrées</h1>

	{%if games %}
		<div class="cards">
			{% for game in games %}
				<div class="card">
					<h3 class="card__title">Partie n°
						{{ game.id }}</h3>
					<div class="card__inner">
						<div class="card__content">
							<p class="card__date">Date :
								{{ game.date|date('Y-m-d H:i:s') }}</p>
							<p class="card__player">Joueur 1 :
								{{ game.player1 }}</p>
							<p class="card__player">Joueur 2 :
								{{ game.player2 }}</p>
							<p class="card_winner">Vainqueur :
								{{ game.winner }}</p>
							<p class="card__duration">Durée :
								{{ game.duration }}</p>
						</div>
						<table class="board">
							{% for row in game.board %}
								<tr class="board__row">
									{% for cell in row %}
										{% if cell == 'red' %}
											<td class="board__cell board__cell--red"></td>
										{% elseif cell == 'yellow' %}
											<td class="board__cell board__cell--yellow"></td>
										{% else %}
											<td class="board__cell board__cell--empty"></td>
										{% endif %}
									{% endfor %}
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<p>Aucune partie n'est enregistrée pour le moment</p>
	{% endif %}
{% endblock %}
